* {
    box-sizing: border-box;
}
body {
    margin: 50px;
    font-size: 17px;
    font-family: 'Kolker Brush', cursive;
}

p {
    /*Muda a cor da fonte */
    color: #0f00ff;
    /*Muda o tamanho da fonte*/
    font-size: 20px;
    /*Coloca o texto em negrito*/
    font-weight: bold;
    /* Muda o tipo da fonte*/
    font-family: 'Kolker Brush', cursive;
    /* Muda o alinhamento, podendo ser a left, ringht, center, justify(alinhado) etc*/
    text-align:justify;
    /*Coloca todo o texto em caixa alta*/
    text-transform: uppercase;
    /*Coloca todo o texto em minusculo*/
    text-transform: lowercase;
    /*Coloca um exparçamento entre as letras*/
    letter-spacing: 2px;
    /*Coloca um exparçamento entre as palavras*/
    word-spacing: 5px;
    /*Coloca um exparçamento entre as linhas*/
    line-height: normal;
    /*Coloca uma sobra no texto, tendo 3 parametros, (lado, baixo, dencidade e cor)*/
    text-shadow: 2px 3px 3px red;
    /*Faz a quebra de linha de uma palavra muito grande*/
    word-wrap:break-word;

}
a{
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
    color: #ff0000;
}

#Titulo{
    color: #ff0000;
    font-family: 'Rubik Bubbles', cursive;
}